/* Common */
html, body {
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0
}

body, input, textarea, select, button, table {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.5px;
    font-family: 'D2Coding',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    position: relative;
    height: 100%;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

img, fieldset {
    border: 0
}

ul, ol {
    list-style: none
}

strong, em, address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse
}

input{
    font-size: 16px;
    color: #222;
    position: relative;

    -webkit-appearance: none;
}

button{
    cursor : pointer;
    border : none;
}

.u_skip {
    overflow: hidden;
    position: absolute;
    left: -999em;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0
}

.vh {
    overflow: hidden !important;
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
}

.elss {
    display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}