@font-face {
    font-family: 'D2Coding';
    src: url("./../font/D2Coding/D2Coding.eot");
    src: url("./../font/D2Coding/D2Coding.eot?#iefix") format('embedded-opentype'), 
    url("./../font/D2Coding/D2Coding.woff") format('woff'), 
    url("./../font/D2Coding/D2Coding.woff2") format('woff2'), 
    url("./../font/D2Coding/D2Coding.ttf") format('truetype');
}

body{
    overflow: hidden;
    font-family: 'D2Coding',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

.wrapper{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height:100vh;
    background: #000 url(./../img/bg.png) no-repeat;
    background-size:cover;
    text-align: center;
}

.wrapper:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.device{
    display: inline-block;
    vertical-align: middle;
}

.device .imgWrap{
    position: relative;
}


.device .deviceImg{
    position: relative;
    z-index: 2;
    max-width: 100%;
    max-height: 80vh;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.device .screen{
    position: absolute;
    z-index: 1;
    left: 15%;
    top: 21%;
    bottom: 24%;
    right: 17%;
    padding: 10%;
    margin: auto;
    background-color: #5e714b;
}

.screen .comingSoon{
    width: 100%;
    height: 0;
    margin: 0 auto;
    background: url(../img/comingsoon.png) no-repeat 0 0;
    background-size: 100% auto;
    aspect-ratio: 902 / 318;
}

.screen .comingSoon.active{
    animation: comingSoon 10s forwards;
}

.screen .ghostImg{
    position: absolute;
    left: 7%;
    bottom: 25%;
    width: 23%;
    height: auto;
    opacity: 0;
}

.screen .ghostImg.active{
    animation: 1s blink 5s infinite both;
}

.screen .ghostImg:nth-of-type(2){
    left: 39%;
    top: 60%;
}

.screen .ghostImg:nth-of-type(3){
    left: 70%;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes comingSoon {
    0%{
        height: 0%
    }
    3%{
        height: 3%
    }
    6%{
        height: 6%
    }
    9%{
        height: 9%
    }
    12%{
        height: 12%
    }
    15%{
        height: 15%
    }
    18%{
        height: 18%
    }
    21%{
        height: 21%
    }
    24%{
        height: 24%
    }
    27%{
        height: 27%
    }
    30%{
        height: 30%
    }
    33%{
        height: 33%
    }
    100%{
        height: 33%;
    }
}
@-webkit-keyframes comingSoon {
    0%{
        height: 0%
    }
    3%{
        height: 3%
    }
    6%{
        height: 6%
    }
    9%{
        height: 9%
    }
    12%{
        height: 12%
    }
    15%{
        height: 15%
    }
    18%{
        height: 18%
    }
    21%{
        height: 21%
    }
    24%{
        height: 24%
    }
    27%{
        height: 27%
    }
    30%{
        height: 30%
    }
    33%{
        height: 33%
    }
    100%{
        height: 33%;
    }
}


@keyframes movingLR {
    0%{
        transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
      
    }
    25%{
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
   
    }
    50%{
        transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
       
    }
    100%{
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
    }
}
@-webkit-keyframes movingLR {
    0%{
        transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
      
    }
    25%{
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
   
    }
    50%{
        transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
       
    }
    100%{
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
    }
}

.device .pin{
    position: absolute;
    z-index: 0;
    left: 42%;
    right: 42%;
    top: 89%;
    bottom: 0;
    margin: 0 auto;
    background: url(./../img/pin.png) no-repeat 0 0;
    background-size: 100% auto;
    aspect-ratio: 145 / 234;
    user-select: none;
}

.device .pin:hover{
    /* animation: movingLR 0.3s infinite both;
    -webkit-animation: movingLR 0.3s infinite both; */
}

.pin .text{
    position: absolute;
    bottom: 21%;
    left: 0;
    right: 0;
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.controlBtn_wrap{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6%;
    height: 19%;
    z-index: 10;
}

.controlBtn_wrap button{
    position: absolute;
    top: 7%;
    left: 21%;
    width: 14%;
    aspect-ratio: 1 / 1;
    height: auto;
    background: url(../img/btn1.png) no-repeat 0 0; 
    background-size: 100%;
}
.controlBtn_wrap button.btn_02{
    left: 42.7%;
    top: 28%;
    aspect-ratio: 243 / 244;
    background: url(../img/btn2.png) no-repeat 0 0; 
    background-size: 100%;
}
.controlBtn_wrap button.btn_03{
    left: 63.6%;
    top: 9%;
    background: url(../img/btn3.png) no-repeat 0 0; 
    background-size: 100%;
}

.controlBtn_wrap button:active{
    top: 8%;
}

.controlBtn_wrap button.btn_02:active{
    top: 29%;
}

.controlBtn_wrap button.btn_03:active{
    top: 10%;
}


@media (min-width: 768px) and (max-width: 1123px){
}

@media (max-width: 767px){
}

@media (max-width: 360px), (orientation: landscape){
    
    .pin .text{
        font-size: 14px;
        bottom: 15%;
    }
}