@font-face {
    font-family: 'D2Coding';
    src: url("./../font/D2Coding/D2Coding.eot");
    src: url("./../font/D2Coding/D2Coding.eot?#iefix") format('embedded-opentype'), 
    url("./../font/D2Coding/D2Coding.woff") format('woff'), 
    url("./../font/D2Coding/D2Coding.woff2") format('woff2'), 
    url("./../font/D2Coding/D2Coding.ttf") format('truetype');
}

body{
    overflow: hidden;
    font-family: 'D2Coding',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

.wrapper{
    height:100vh;
    background: #000 url(./../img/bg.png) no-repeat;
    background-size:cover;
}

.device{
    position: relative;
    margin: 0 auto;
    width: 800px;
    box-sizing: border-box;
    text-align: center;
}

.device .imgWrap{
    padding: 10% 0;
}


.device img{
    position: relative;
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

.device .screen{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    width: 507px;
    height: 46%;
    margin-left: -8px;
    margin-top: -3%;
    transform: translate(-50%,-50%);
    background-color:  #5e714b;
}


@keyframes pin {
    0%{
       opacity: 0;
    }
    100%{
       opacity: 1;
    }
}

@keyframes movingLR {
    0%{
        transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
      
    }
    25%{
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
   
    }
    50%{
        transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
       
    }
    100%{
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
    }
}
@-webkit-keyframes movingLR {
    0%{
        transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
      
    }
    25%{
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
   
    }
    50%{
        transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
       
    }
    100%{
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
    }
}

.device .pin{
    position: absolute;
    z-index: 0;
    bottom: -3%;
    /* left: 64%; */
    left: 41%;
    width: 18%;
    height: 28%;
    background: url(./../img/pin.png) no-repeat 0 0;
    background-size: contain;
    padding-top: 21%;
}

.device .pin:hover{
    animation: movingLR 0.3s infinite both;
    -webkit-animation: movingLR 0.3s infinite both;
}

.pin .text{
    /* opacity: 0; */
    font-size: 29px;
    font-weight: 600;
    cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1123px){
    .device{
        width: 700px;
    }
    
    .device .screen{
        width: 445px;
        margin-left: -6px;
    }
    .pin .text{
        font-size: 28px;
    }
}

@media (max-width: 767px){
    .device{
        width: 100%;
        max-width: 600px;
    }

    .device .screen{
        width: 64%;
        margin-left: -4px;
    }    
    .pin .text{
        font-size: 19px;
    }

}