@font-face {
    font-family: 'D2Coding';
    src: url("./../font/D2Coding/D2Coding.eot");
    src: url("./../font/D2Coding/D2Coding.eot?#iefix") format('embedded-opentype'), 
    url("./../font/D2Coding/D2Coding.woff") format('woff'), 
    url("./../font/D2Coding/D2Coding.woff2") format('woff2'), 
    url("./../font/D2Coding/D2Coding.ttf") format('truetype');
}

body{
    overflow: hidden;
    font-family: 'D2Coding',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

.wrapper{
    height:100vh;
    background: #000 url(./../img/bg.png) no-repeat;
    background-size:cover;
}

.device{
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    height: 100%;
    padding: 5% 0 10%;
    box-sizing: border-box;
    text-align: center;
}

.device .imgWrap{
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}


.device img{
    position: relative;
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

.device .screen{
    position: absolute;
    z-index: 1;
    left: 15%;
    top: 21%;
    bottom: 24%;
    right: 17%;
    padding: 10%;
    margin: auto;
    background-color: #5e714b;
}

.screen .comingSoon{
    width: 100%;
    height: 0;
    margin: 0 auto;
    background: url(../img/comingsoon.png) no-repeat 0 0;
    background-size: 100% auto;
}

.screen .comingSoon.active{
    animation: comingSoon 10s forwards;
}

@keyframes comingSoon {
    0%{
        height: 0%
    }
    3%{
        height: 3%
    }
    6%{
        height: 6%
    }
    9%{
        height: 9%
    }
    12%{
        height: 12%
    }
    15%{
        height: 15%
    }
    18%{
        height: 18%
    }
    21%{
        height: 21%
    }
    24%{
        height: 24%
    }
    27%{
        height: 27%
    }
    30%{
        height: 30%
    }
    33%{
        height: 33%
    }
    100%{
        height: 33%;
    }
}
@-webkit-keyframes comingSoon {
    0%{
        height: 0%
    }
    3%{
        height: 3%
    }
    6%{
        height: 6%
    }
    9%{
        height: 9%
    }
    12%{
        height: 12%
    }
    15%{
        height: 15%
    }
    18%{
        height: 18%
    }
    21%{
        height: 21%
    }
    24%{
        height: 24%
    }
    27%{
        height: 27%
    }
    30%{
        height: 30%
    }
    33%{
        height: 33%
    }
    100%{
        height: 33%;
    }
}


@keyframes movingLR {
    0%{
        transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
      
    }
    25%{
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
   
    }
    50%{
        transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
       
    }
    100%{
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
    }
}
@-webkit-keyframes movingLR {
    0%{
        transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
      
    }
    25%{
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
   
    }
    50%{
        transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
       
    }
    100%{
        transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
    }
}

.device .pin{
    position: absolute;
    z-index: 0;
    bottom: -98px;
    left: 40.7%;
    width: 145px;
    height: 317px;
    background: url(./../img/pin.png) no-repeat 0 0;
    background-size: 145px 317px;
    padding-top: 183px;
}

.device .pin:hover{
    animation: movingLR 0.3s infinite both;
    -webkit-animation: movingLR 0.3s infinite both;
}

.pin .text{
    font-size: 29px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 1123px){
    .device .imgWrap{
        height: auto;
    }
}


@media (min-width: 768px) and (max-width: 1123px){
    .device{
        max-width: 700px;
    }
    
    .pin .text{
        font-size: 28px;
    }
}

@media (max-width: 767px){
    .device{
        width: 100%;
        max-width: 600px;
    }

    .pin .text{
        font-size: 19px;
    }

}