
.menu{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20% 0 0;
    word-wrap: break-word;
    word-break: break-word;
    .subject{
        font-size: 1rem;
    }
}

.sayingWrap{
    display: flex;
    width: 50%;
    height: 10%;
    margin: 10px auto 0;
    .btnAdd{
        flex: 0 0 20px;
        height: 100%;
    }
}

.CustomText{
    display: block;
    outline: none;
    border: 1px solid #000;
    background-color: transparent;
    text-align: center;
}