
.menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 3%;
    right: 3.3%;
    top: 3%;
    bottom: 6%;
    padding: 20% 0 0;
    word-wrap: break-word;
    word-break: break-word;
    border-radius: 27px;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    @supports not (backdrop-filter: blur(1px)){
        background-color: rgba(0, 0, 0, 0.25);
    }
    .subject{
        font-size: 1rem;
    }
    .sayingWrap{
        display: flex;
        position: relative;
        width: 50%;
        height: 10%;
        margin: 10px auto;
        .btnAdd{
            position: absolute;
            right: 10px;
            background-color: transparent;
            height: 100%;
        }
    }
    
    .CustomText{
        position: relative;
        display: block;
        outline: none;
        width: 100%;
        background-color: #fff;
        border-radius: 100px;
        text-align: center;
        border: none;
        padding: 0 28px 0 10px;
        text-align: left;
        &:focus{
            border: 1px solid #000;
        }
    }

    
    .mapText{
        display: inline-block;
        font-size: 1.2em;
        margin-bottom: 10px;
        font-weight: 600;
        text-shadow: 1px 1px 1px #fff;
    }
    
    .sayingList{
        flex: 1;
        position: relative;
        margin: 0 30%;
        overflow: auto;
        max-height: 50%;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        &::-webkit-scrollbar{
            display: none !important; 
            -webkit-appearance: none !important;
            width: 0 !important;
            height: 0 !important;/* for Chrome, Safari, and Opera */
        }
        li{
            border-radius: 1.2rem;
            background-color: rgba(255, 255, 255, 0.6);
            font-size: 1.3em;
            padding: 2px;
            margin-bottom: 5px;
        }
        .btnDel{
            position: absolute;
            right: 10px;
            width: 15px;
            height: 15px;
            background: url(../../img/btnDel.png) 0 0/15px 15px no-repeat;
        }
    }
    .btnWrap{
        overflow: hidden;
        [class^="btn"]{
            margin-top: 10px;
            background-color: rgba(0, 0, 0, 0.6);
            box-shadow: 0 1px 1px 0 black;
            padding: 0 5px;
            color: #fff;
        }
        .btnReset{
            margin-left: 5px;
        }
    }
}

@media (max-width:440px), (orientation: landscape){
    .menu{
        padding: 15% 0 0;
        .subject{
            font-size: 1.2em;
        }
        .CustomText{
            font-size: 1em;
        }
        .mapText{
            margin-bottom: 0;
        }
        .btnWrap [class^="btn"]{
            margin-top: 0;
        }
        .sayingList{
            margin: 0 20%;
            text-align: left;
            li{
                padding: 2px 10px;
            }
        }
    }
}
