@import './animation';

@font-face {
    font-family: 'D2Coding';
    src: url("./../font/D2Coding/D2Coding.eot");
    src: url("./../font/D2Coding/D2Coding.eot?#iefix") format('embedded-opentype'), 
    url("./../font/D2Coding/D2Coding.woff") format('woff'), 
    url("./../font/D2Coding/D2Coding.woff2") format('woff2'), 
    url("./../font/D2Coding/D2Coding.ttf") format('truetype');
}

body{
    overflow: hidden;
    font-family: 'D2Coding',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

.wrapper{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height:100vh;
    background: #000 url(./../img/bg.png) no-repeat;
    background-size:cover;
    text-align: center;
    @supports (-webkit-appearance:none) and (stroke-color: transparent) {
        min-height: -webkit-fill-available;
    }
    &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.device{
    display: inline-block;
    margin-bottom: 13%;
    vertical-align: middle;
    .imgWrap{
        position: relative;
    }
    .deviceImg{
        position: relative;
        z-index: 2;
        max-width: 100%;
        max-height: 80vh;
        width: auto;
        height: auto;
        box-sizing: border-box;
    }
    .screen{
        position: absolute;
        z-index: 1;
        left: 15%;
        top: 21%;
        bottom: 24%;
        right: 17%;
        padding: 10%;
        margin: auto;
        background-color: #5e714b;
    }
    .pin{
        position: absolute;
        z-index: 0;
        left: 42%;
        right: 42%;
        top: 89%;
        bottom: -9%;
        margin: 0 auto;
        background: url(./../img/pin.png) no-repeat 0 0;
        background-size: 100% auto;
        user-select: none;
    }
}


.controlBtn_wrap{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6%;
    height: 19%;
    z-index: 10;
    button{
        position: absolute;
        top: 7%;
        left: 21%;
        width: 14%;
        bottom: 34%;
        background: url(../img/btn1.png) no-repeat 0 0; 
        background-size: 100%;
        -webkit-tap-highlight-color : transparent;
        &.action{
            left: 42.7%;
            top: 28%;
            bottom: 13%;
            background: url(../img/btn2.png) no-repeat 0 0; 
            background-size: 100%;
            &:active{
                top: 30%;
            }
        }
        &.right{
            left: 63.6%;
            top: 9%;
            background: url(../img/btn3.png) no-repeat 0 0; 
            background-size: 100%;
            &:active{
                top: 11%;
            }
        }
        &:active{
            top: 9%;
        }
    }
}

.copyright{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2% 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color: #808080;
    font-size: 0.8rem;
    line-height: 1.5;
}


@media (min-width: 768px) and (max-width: 1123px){
}

@media (max-width: 767px){
}
