
// Sprites Map
$sp_mo: (
	name: 'sp_mo',
	width: 100px,
	height: 50px,
	image: '../img/sp_mo.png',
	sprites: (
	logo_ico: (
			offset-x: 0px,
			offset-y: 0px,
			width: 50px,
			height: 50px,
		),
		share_bt: (
			offset-x: -60px,
			offset-y: 0px,
			width: 40px,
			height: 40px,
		),
	)
);